<!DOCTYPE html>

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <title>Thesis progress</title>
    <link href="/static/gh-fork-ribbon.css" rel="stylesheet">

    <!--[if IE]>
            <link rel="stylesheet" href="/static/gh-fork-ribbon.ie.css" />
    <![endif]-->

    <style>
        .center {
            margin-left:auto;
            margin-right:auto;
            width:850px;
        }
    </style>

    <!-- 1. Add these JavaScript inclusions in the head of your page -->
    <script src=
    "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type=
    "text/javascript"></script>
    <script src="static/js/highcharts.js" type="text/javascript"></script><!-- 1a) Optional: add a theme file -->

    <script src="static/js/themes/gray.js" type="text/javascript"></script><!-- 1b) Optional: the exporting module -->

    <script src="static/js/modules/exporting.js" type="text/javascript"></script>
    <!-- 2. Add the JavaScript to initialize the chart on document ready -->
    <script type="text/javascript">
    
            var chart;
            $(document).ready(function() {
                Date.prototype.addHours= function(h){
                    this.setHours(this.getHours()+h);
                    return this;
                }

                $.getJSON("/json", function(datas) {
                    //console.log(datas);

                    for (series in datas) {
                        //console.log(datas[series]);
                        for (d in datas[series]["data"]) {
                            //console.log(datas[series]["data"][d]);
                            
                            datas[series]["data"][d][0] = Date.parse(datas[series]["data"][d][0]) + 2 * 60 * 60 * 1000;
                        }

                    }

                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'container',
                            zoomType: 'x',
                            type: 'spline'
                        },
                        title: {
                            text: 'Thesis progress'
                        },
                        xAxis: {
                            type: 'datetime',
                            maxzoom: 3600000,
                            dateTimeLabelFormats: { // don't display the dummy year
                                month: '%e. %b',
                                year: '%b'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Words'
                            },
                            min: 0
                        },
                        tooltip: {
                            formatter: function() {
                                    return '<b>'+ this.series.name +'<\/b><br/>'+
                                    Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' words';
                            }
                        },
                        series: datas
                    });

                    function getMoar () {
                        $.getJSON("/json?min=1", function(dat) {
                            console.log("GOT MOAR");
                            for (series in dat) {
                                for (d in dat[series]["data"]) {
                                    dat[series]["data"][d][0] = Date.parse(dat[series]["data"][d][0]) + 2 * 60 * 60 * 1000;
                                }
                                chart.get(dat[series]["id"]).addPoint(dat[series]["data"][0]);
                            }
                        });
                    };

                    setInterval(getMoar, 30000);
                });
                
            });
                
    </script>
</head>

<body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/circlingthesun/Wordcount">Fork me on
            GitHub</a>
        </div>
    </div>

    <!--<div class="center">
    <img src="static/theorem.jpg" width="850"/>
    </div> -->

    <!-- 3. Add the container -->
    <div id="container" style="width: 850px; height: 400px; margin: 0 auto">
    </div>

    <div class="center" style="text-align:center">
        <a href="/static/client.zip"><img src="static/download.png" width="50"/><span style="position:relative; bottom: 20px;">Download the app and add your progress.</span></a>
        <br/><br/>
        <img src="static/theorem.jpg"/>
        
        <br/>
    
    </div>

<!--
    <script>
    var TogetherJSConfig_dontShowClicks = true;
    var TogetherJSConfig_autoStart = true;
    var TogetherJSConfig_findRoom = "ucthonours2013";
    var TogetherJSConfig_suppressInvite = true;
    var TogetherJSConfig_suppressJoinConfirmation = true;
    </script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
-->

    <!-- analytics -->
    <script>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45005878-1', 'jacklab.co.za');
        ga('send', 'pageview');
    </script>
</body>
</html>